html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: large;
  overflow: hidden;
  font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#pano {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.fullscreen {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.layer-switcher {
  position: initial;
}

#layers > ul > li:hover {
  background-color: rgba(192,192,192, 0.8);
}

#panoramas li label {
padding-left: 2.7em;
    padding-right: 1.2em;
    display: inline-block;
    margin-top: 1px;
}
#panoramas > ul {
  list-style: none;
  margin: 1.6em 0.4em;
  padding-left: 0;
}
#panoramas > ul > li {
  position: relative;
  margin-top: 0.3em;
}
#panoramas > ul > li:hover {
  background-color: rgba(192,192,192, 0.8);
}
#panoramas > ul > li > input {
    position: absolute;
    left: 1.2em;
    height: 1em;
    width: 1em;
    font-size: 1em;
}
#panoramas > ul > li > label:hover {
  text-decoration: underline;
}

.ol-mouse-position {
    top: auto;
    bottom: 8px;
}
.ol-control button {
  background-color: rgba(0,0,0, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0,0,0,0.7);
}
.ol-scale-line {
  background: rgba(0,0,0,0.3);
}

.ol-zoom-extent {
  margin-left: 46px; }
  @media (min-width: 768px) {
    .ol-zoom-extent {
      transition: margin-left 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .ol-zoom-extent {
      margin-left: 317px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ol-zoom-extent {
      margin-left: 402px; } }
  @media (min-width: 1200px) {
   .ol-zoom-extent {
      margin-left: 472px; } }
@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .ol-zoom-extent {
    margin-left: 52px; } }

.sidebar-left .sidebar-content {
    background-color: rgba(192,192,192, 0.8);
}
.sidebar-tabs {
    background-color: rgba(0,0,0, 0.5);
}
.sidebar-tabs .hidden {
    visibility: hidden;
    position: absolute;
}
.sidebar-tabs.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    color: #fff;
    background-color: rgba(0,0,0, 0.8);
}
.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4); }
.sidebar-header {
    background-color: rgba(0,0,0, 0.8);
}
#panoramas > ul > li {
  list-style-type:none;
}

#tooltip {
  position: absolute;
  font: 14pt 'Helvetica Neue', Arial, Helvetica, sans-serif;;
  font-size: normal;
  z-index: 100;
  color: white;
  background-color: rgb(0,0,0,0.3);
  border: 1px solid white;
  padding: 4px;
}

#fu-planets {
background-image: url('/assets/fu_label_3zeilig_RGB_40x40.png');
width: 36px;
height: 36px;
margin: 1px;
background-size: 40px;
}

.aframe.visible {
  visibility: visible;
}
.aframe.hidden {
  visibility: hidden;
}
.sidebar-map.visible {
  visibility: 'visible';
  opacity: 1;
  transition: opacity 2s linear;
}
.sidebar-map.hidden {
  visibility: 'hidden';
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}